*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size:150px ;
}


.food_des{
	width: 90%;
	margin-left: 5%;
    padding: 1em;
}
.nav{
    width: 100%;
    background-color: black;
    height: 50px;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;

}
.heading{
     width: 40%;
     margin-left: 2em;
     margin-top: .2em;
     font-weight: bold;
}
.nav-items{
    text-align: right;
    width: 60%;
    margin-right: 2em;
    margin-top: .2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
#nav-a{
    color: white;
}
#nav-c{
    color: white;
}
#nav-b{
    color: white;
}



/*
span {
    width: 50%;
    background-color: #e6ecf2 ;

}
span > a{
    text-decoration: none;
    color: #282a2b;
}
*/
body{
    background-color: #D3D3D3;
}

img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.wrapper{
    margin: 1em;
    padding: 1em;
     width: 95%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
}

.content{
    width: 45%;
    margin: 1.5em;
    float: left;
    box-shadow: 1px 1px 5px 2px gray;

}
figcaption{
    margin-left: 7%;
    font-size: 150%;
    color: forestgreen;

}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    font-family: cursive;
}
.ftitle{
    color:white;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#tdm{
	font-family: 'Comfortaa', cursive; 
	color:#F5F9FC; 
    margin: 0;
}

.btn{

    margin: .5em;
    margin-left: 3em;
    background-color: white;
    color: black;
    border-radius: 1em;
    width: 40%;
    font-family: cursive;

  
} 

@media screen and (max-width: 670px){
    .content{
        width: 90%;
    }
    .nav{
    height: 30%;
    font-size: 100%;

    }
    .heading{
     margin-left: 10%;
     margin-top: 1%;
}
    .nav-items{
    margin-right: 10%;
    margin-top: 1%;

   
}
}

@media screen and (max-width: 1270px){
    .content{
        width: 90%;
    }
}

@media screen and (min-width: 1271px){
    .content{
        width: 45%;
    }
}